.DS_Store
.env
.vscode
node_modules
build
dist
target
coverage
manifest.toml
package-lock.json
test.jar
a.out
a.exe
*.class
*.log
*.hi
*.cmi
*.cmx
*.cmo
*.o
__pycache__
*.pyc
ExercisesTest
exercises
main
